/* src/app/styles/HomePage.module.css */

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  
  .productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 130px;
    max-width: 900px;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }

  .toggleCartButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .toggleCartButton:hover {
    background-color: #0056b3;
  }
  
  /* Cart Sidebar */
  .cartIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #d9f7ea;
    color: #fff;
    border-radius: 25%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cartIcon:hover {
    background-color: #e08900;
  }
  
  .cartCount {
    background-color: #f44336;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    padding: 4px 8px;
    margin-left: 5px;
    font-weight: bold;
  }
  
  /* Cart Sidebar */
  .cartSidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .cartTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cartImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .cartDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .cartPrice, .cartQuantity {
    font-size: 14px;
    color: #555;
  }
  
  .cartButton {
    background: #dc0a3b;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    align-self: flex-end;
  }
  
  .cartButton:hover {
    background: #b30707;
  }
  
  .clearButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .clearButton:hover {
    background-color: #cc0000;
  }